body {
    font-family: inter,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #adccfb;
}

header {
    background-color: #5158a8;
    color: #fff;
    padding: 1em;
    text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

header h1 {
    opacity: 0.8;
}

header h1, .icons{
	margin: 0em 2em 0em 2em;
}



.container {
    display: flex;
    height: calc(100vh - 60px);
    max-height: 90vh;
}

.sidebar.open {
    transform: translateX(0);
    display: block;
}

.sidebar {
    background-color: #5158a8;
    overflow-y: auto;
    direction: rtl;
    width: 25%;
    margin-top: -2px;
    margin-left: 1em;
    border-radius: 0px 0px 1em 0px;
    margin-bottom: 3em;
    border-left: solid white 2px;
    border-bottom: solid white 2px;
    transition: transform 0.3s ease;
    overflow-x: hidden;
}

.menu-button {
    display: none;
    font-size: 35px;
    text-align: center;
    background: #5158a84d;
}

.sidebar .selected{
    background-color: #adccfb;
    color: black;
    font-weight: 600;
    border-right: 1px solid #adccfb;
    border-radius: 3em 0px 0px 3em;
}

.sidebar .selected:hover{
    background-color: #adccfb;
}

.buttons {
    text-align: center;
    margin: auto;
    display: table;
}

.buttons a {
    text-decoration: none;
}

a.app-link {
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    color: rgba(255,255,255,.9);
    padding: 4px 20px;
    margin: 5px;
      margin-right: 5px;
    display: inline-block;
    float: right;
    background: #333;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
}

.sidebar li a {
    border-right: 2px solid #ddd;
}

.sidebar a {
    color: white;
    display: block;
    padding: 1em;
    text-decoration: none;
    text-align: center;
}

.sidebar a:hover {
    background-color: #de2132;
    border-radius: 3em 0px 0px 3em;
}

.content {
    width: 75%;
    flex-grow: 1;
    padding: 2em;
    overflow-y: auto;
    margin: auto;
}

.icons {
	fill: #fff;
    margin-left: 1em;
    opacity: 0.8;
}

.icons svg:hover {
    
    fill: #adccfb;
}

.icons a {
	margin: 0em 1em 0em 1em;
}

pre {
    display: block;
    font-size: 12px;
    line-height: 18px;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: pre-wrap;
    word-break: break-all;
    margin: 0 0 9px;
    padding: 4.5px;
    font-family: Monaco,courier new,monospace;
}


@media (max-width: 1500px) {
    .sidebar {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
    }

    .container {
        flex-direction: column;
    }

    header {
        border-bottom: 4px solid white;
    }

    .sidebar {
        padding-top: 3px;
        width: 100%;
        border-right: none;
        background-color: #5158a8;
        border-bottom: 1px solid #ddd;
        margin-left: 0em;
        border-radius: 0px 0px 0px 0px;
        min-height: 50vh;
        margin-bottom: 0em;
        transform: translateX(-100%);
        display: none;
    }

    .content {
        max-width: 100%;
        padding: none;
    }

    .sidebar .selected {
        border-radius: 3em 3em 3em 3em;
    }
    .sidebar .selected:hover {
        border-radius: 3em 3em 3em 3em;
    }
    .sidebar a:hover {
        border-radius: 3em 3em 3em 3em;
    }

    .sidebar li {
        
        margin-right: 0.5em;
    }

    .sidebar li a {
        border-right: none;
    }

    .hide {
        display: none;
    }
}


#projectContent {
    text-align: center;
}